body {
  text-align: center;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

h1 {
  font-size: 1.2rem;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  margin: 0 0 30px 0;
  color: #333;
}
/* rows of gird board */

.row {
  text-align: center;
  display: flex;
  justify-content: center;
}

.row > div {
  display: block;
  width: 60px;
  height: 60px;
  border: 1px solid #bbb;
  margin: 4px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5rem;
}

.row > .green {
  --background-color: #5ac85a;
  --border-color: #5ac85a;
  animation: flip 0.2s ease forwards;
}
.row > .grey {
  --background-color: #a1a1a1;
  --border-color: #a1a1a1;
  animation: flip 0.2s ease forwards;
}
.row > .yellow {
  --background-color: #33eb0e;
  --border-color: #33eb0e;
  animation: flip 0.2s ease forwards;
}

.row.past > div:nth-child(2) {
  animation-delay: 0.2s;
}

.row.past > div:nth-child(3) {
  animation-delay: 0.4s;
}

.row.past > div:nth-child(4) {
  animation-delay: 0.6s;
}

.row.past > div:nth-child(5) {
  animation-delay: 0.8s;
}

.current > .filled {
  animation: bounce 0.2s ease-in-out forwards;
}

/* keyboard styling */

.keyboard {
  max-width: 500px;
  margin: 10px auto;
}

.keyboard .key-row div {
  margin: 5px;
  width: 40px;
  height: 50px;
  background-color: #eee;
  display: inline-block;
  border-radius: 6px;
  line-height: 50px;
  cursor: pointer;
  transition: 0.2s;
}
.keyboard .key-row div:hover,
.submite:hover,
.remove:hover {
  transform: scale(1.1);
}

.keyboard .key-row .green {
  background-color: #5ac85a;
  color: #fff;
  transition: all 0.3s ease-in;
}
.keyboard .key-row .yellow {
  background-color: #33eb0e;
  color: #fff;
  transition: all 0.3s ease-in;
}
.keyboard .key-row .grey {
  background-color: #a1a1a1;
  color: #fff;
  transition: all 0.3s ease-in;
}
.submite,
.remove {
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  color: white;
  font-size: 23px;
  font-weight: bold;
  line-height: 47px;
  margin: 5px 10px;
  padding: 0px 10px;
  cursor: pointer;
  transition: 0.2s;
}
.submite {
  background-color: #5ac85a;
}
.remove {
  background-color: #a1a1a1;
}
@media (max-width: 500px) {
  .keyboard {
    max-width: 350px;
    margin: 10px auto;
  }
  .keyboard .key-row div {
    margin: 2.5px;
    width: 30px;
    height: 40px;
    background-color: #eee;
    display: inline-block;
    border-radius: 6px;
    line-height: 40px;
    font-weight: bold;
  }
  .submite,
  .remove {
    line-height: 35px;
    padding: 0 7px !important;
    font-size: 15px !important;
  }
}

.again {
  background: #5ac85a;
  margin: 10px auto 0;
  border-radius: 50%;
  font-weight: bold;
  font-size: 22px;
  color: white;
  width: 85px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.again:hover {
  transform: scale(1.08);
}

.tip {
  position: relative;
}
.tip-colors {
  display: none;
  position: absolute;
  background-color: white;
  top: 70px;
  width: 323px;
  transform: translateX(-50%);
  left: 50%;
  padding: 10px 0;
  border: 10px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.192);
  transition: 0.3s;
}
.tip-colors .green {
  background-color: #6e8022;
}
.tip-colors .yellow {
  background-color: #33eb0e;
}
.tip-colors .grey {
  background-color: #a1a1a1;
}

.tip-colors span {
  padding: 5px 10px;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  z-index: 1000;
}

.tip-name {
  color: white;
  padding: 10px 20px;
  font-size: 30px;
  background: #33eb0e;
  width: fit-content;
  margin: 10px auto;
  border-radius: 15px;
  transition: 0.3s;
  cursor: pointer;
}
.tip-name:hover {
  transform: scale(1.08);
}

h2 {
  color: #6e8022;
}

.open {
  display: block !important;
}

/* animations */

@keyframes flip {
  0% {
    transform: rotateX(0);
    background-color: white;
    border-color: #bbb;
  }
  45% {
    transform: rotateX(90deg);
    background-color: white;
    border-color: #bbb;
  }
  55% {
    transform: rotateX(90deg);
    background-color: var(--background-color);
    border-color: var(--border-color);
    color: white;
  }
  100% {
    transform: rotateX(0);
    background-color: var(--background-color);
    border-color: var(--border-color);
    color: white;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
    border-color: #ddd;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    border-color: #333;
  }
}
